body {
  background: rgb(32,33,36);
   font-family: sans-serif;
  height: 100%; /* Add this */
  margin: 0;
}

html {
  height: 100%; /* Add this */
  margin: 0;
}
main {
  min-height: 100vh; /* Add this */
  margin-bottom: 50px; 
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-family: arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	
  
}

.left {
  display: flex;
  align-items: center;
}

.left a {
  
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  padding-left: 20px;
  font-family: Roboto, arial, sans-serif;
}

.right {
  display: flex;
  align-items: center;
}

.right a {
  margin-left: 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  font-family: Roboto, arial, sans-serif;
  padding-right: 6px;
}




.imgprofile {
  background-color: #a7a4a4af;
  border-radius: 25px;
}

.centerimg {
  align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	max-height: 290px;
	min-height: 150px;
  padding-top: 110px;

}

.googledoodles {
  cursor: pointer;
	display: inline;
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
	object-position: 50% 100%;
	vertical-align: bottom;
}

.searchcontainer {
    box-sizing: border-box;
    height: 142px;
    padding: 20px 20px 20px 20px;
    
  }
  
  .search{
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #000000;
  }

  
  #gsearch:hover {
    background-color: rgba(128, 128, 128, 0.288);
  }

  #searchimg{
    width: 20px;
    
  }

  .left-footer a {
    margin-left: 20px;
    
    color: #ffffff;
    font-size: 14px;
    font-family: Roboto, arial, sans-serif;
  }
  
  .right-footer a {
    margin-left: 20px;
    color: #ffffff;
    font-size: 14px;
    font-family: Roboto, arial, sans-serif;
    padding-right: 20px;
  }

  footer {
    position: absolute; 
    bottom: 0; 
    width: 100%;
    background-color: #1b1b1b;
    color: white;
    text-align: center;    
}